.container{
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-image: url("src/images/wall.png");
}

.menu{
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    height: 120px;
    width: 100%;
    background-color: #000;
    color: #fff;
    border-bottom: 5px solid #b19f39;
}

.panel{
    margin-top: 7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.square{
    height: 150px;
    width: 150px;
    border: 1px solid #000;
    background-color: #29d49b;
}

.enemy{
    background-image: url("src/images/ralph.png");
    background-size: cover;
}

.menu-lives{
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-time h2:nth-child(2),
.menu-score h2:nth-child(2){
    margin-top: 1rem;
}


/* #7fffd4 */